body{
margin:0;
padding:0;
background-color: brown;
}

#mainbox {
    
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: baseline;
    display: grid;
    align-content: center;
    

}

#filebox1 {
 display: flex;

 
}
#filebox2 {
   
    display: flex; 

}

.box{
    height: 4em;
    width: 4em;
    margin: 1em;
    border: 2px black solid;
    transition:0.5s
}
.box:hover{
    border-radius: 50% 30% 60% 10%;

    transition:0.5s
}

.box1 {
   
    background-color: rgb(78, 78, 170);
    
}

.box2 {
 
    background-color: rgb(4, 255, 0);
    
}

.box3 {
  
    background-color: rgb(255, 0, 234);
    
}

.box4 {
  
    background-color: rgb(44, 54, 206);
   
}
.box5 {
  
    background-color: rgb(214, 20, 133);
   
}
.box6 {
  
    background-color: rgb(53, 133, 106);
   
}
.box7 {
  
    background-color: rgb(155, 95, 211);
   
}
.box8 {
  
    background-color: rgb(90, 209, 140);
   
}
.box9 {
  
    background-color: rgb(230, 167, 226);
   
}
.box10 {
  
    background-color: rgb(11, 83, 74);
   
}